// IMPORT BOOTSTRAP CORE
@import "../node_modules/bootstrap/scss/bootstrap.scss";

@font-face {
    font-family: 'Granjon Roman';
    src: url(../fonts/granjon_roman.woff), url(../fonts/granjon_roman.woff2);
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Granjon Roman';
    src: url(../fonts/granjon_roman_bold.woff), url(../fonts/granjon_roman_bold.woff2);
    font-weight: 600;
    font-style: normal;
}

@-webkit-keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}
@keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}

@-webkit-keyframes fadeOut {
    from { opacity: 1; }
      to { opacity: 0; }
}
@keyframes fadeOut {
    from { opacity: 1; }
      to { opacity: 0; }
}
@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@-webkit-keyframes flipInX {
  from {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0;
  }

  40% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  60% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    opacity: 1;
  }

  80% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
  }

  to {
    -webkit-transform: perspective(400px);
    transform: perspective(400px);
  }
}
@keyframes flipInX {
  from {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0;
  }

  40% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  60% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    opacity: 1;
  }

  80% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
  }

  to {
    -webkit-transform: perspective(400px);
    transform: perspective(400px);
  }
}
.mb-15 {
	margin-bottom: 15px;
}
.mt-15 {
	margin-top: 15px;
}
.mt-xs-down-12 {
	@media (max-width: 575px) {
		margin-top: 12px;
	}
}
.pr-xs-up-0 {
	@media (min-width: 576px) {
		padding-right: 0 !important;
	}
}
.p-xs-0 {
	@media (max-width: 575px) {
		padding: 0 !important;
	}
}
body {
	position: relative;
	font-family: Granjon Roman;
	font-size: 14px;
	color: #1b1b1b;
	overflow-x: hidden;
}
.navbar-scroll-left, .navbar-scroll-right {
	@media (max-width: 991px) {
		display: none !important;
	}
}
.nav-left, .nav-right, .navbar-scroll-left, .navbar-scroll-right {
	li {
		&:first-child {
			a {
				padding-left: 0 !important;
			}
		}
		&:last-child {
			a {
				padding-right: 0 !important;
			}
		}
	}
}
.nav-left {
	.nav-item-location, .nav-item-phone {
		@media (max-width: 991px) {
			display: none;
		}
	}
}
.nav-right {
	.nav-heart, .nav-user {
		@media (max-width: 991px) {
			display: none;
		}
	}
	.nav-item-cart {
		@media (max-width: 575px) {
			display: none;
		}
	}
}
.dropdown-menu {
	.dropdown-item {
		font-size: 14px;
	}
}
.opacity-50 {
	opacity: 50%;
}
.btn-app {
	font-size: 14px;
	background-color: #1b1b1b;
    border: none;
    color: #e5dfd9;
    border-radius: 0;
    width: 128px;
    padding: 8px 0;
    &:hover, &:focus {
    	background: #313131;
    	color: #ffffff;
    }
}
.btn-auto {
	width: auto;
	padding-left: 16px;
	padding-right: 16px;
}
.body-overflow {
	z-index: 9997;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	//background: rgba(193, 180, 151, 0.75);
	background: #1b1b1b;
	position: absolute;
	display: none;
}
.header {
	@media (max-width: 575px) {
		position: relative;
		background-color: #1b1b1b;
		transition: all 0.2s ease-in-out;
		&.scroll {
			position: fixed;
			transition: all 0.2s ease-in-out;
		}
	}
	backface-visibility: hidden;
	position: fixed;
	z-index: 9998;
	top: 0;
	left: 0;
	right: 0;
    transition: all 0.2s ease-in-out;
    background: -moz-linear-gradient(top,#25211e 0,rgba(37,33,30,0) 100%);
    background: -webkit-linear-gradient(top,#25211e 0,rgba(37,33,30,0) 100%);
    background: linear-gradient(to bottom,#25211e 0,rgba(37,33,30,0) 100%);
	.navbar {
		background: none;
		background-color: transparent;
	}
	.nav-link {
		color: #e5dfd9;
		transition: all .2s ease-in-out;
		font-size: 14px;
		&:hover, &:focus {
			color: #ffffff;
		}
	}
	.top-menu {
		padding: 24px 0;
		@media (min-width: 992px) {
			padding: 24px 0 0 0;
		}
		.header-logo {
			text-align: center;
			display: inline-block;
			.logo, .logo-white {
				width: auto;
				height: 48px;
				@media (min-width: 992px) {
					width: auto;
					height: 72px;
				}
			}
			.logo-white {
				display: inline-block;
				-webkit-animation: fadeIn 0.2s;
    			animation: fadeIn 0.2s;
			}
			.logo {
				display: none;
				-webkit-animation: fadeOut 0.2s;
    			animation: fadeOut 0.2s;
			}
		}
	}
	.navbar-menu-wrapper {
		padding-top: 0px;
		padding-bottom: 0px;
		.navbar-menu {
			.nav-link {
				font-weight: 500;
			}
			.sub-menu {
				@media (max-width: 991px) {
					display: none !important;
				}
				opacity: 0;
			    transition: opacity 0;
			    background-color: rgba(255,255,255,.95);
			    background-image: none;
			    height: 0;
			    left: 16px;
			    overflow: hidden;
			    position: fixed;
			    right: 16px;
			    top: 165px;
			    .container {
			    	padding-top: 2rem;
			    	padding-bottom: 2rem;
			    }
			    .row {
			    	width: 100%;
			    }
			    ul {
			    	list-style: none;
			    	li {
			    		a {
			    			display: inline-block;
			    			padding: 0.5rem 0;
			    			font-size: 16px;
			    			color: #646060;
			    			transition: all .2s ease-in-out;
			    			&:hover, &:focus {
			    				text-decoration: none;
			    				color: #313131;
			    				transition: all .2s ease-in-out;
			    			}
			    		}
			    	}
			    }
			}
			.nav-item {
				@media (max-width: 991px) {
					text-align: center
				}
				padding: 16px 0;
				.nav-link {
					position: relative;
					transition: all 0.2s ease-in-out;
					.chevron {
						@media (max-width: 991px) {
							display: none !important;
						}
					    display: block;
					    position: absolute;
					    border: 0 solid transparent;
					    height: 0;
					    width: 0;
					    border-left-width: 4px;
					    border-right-width: 4px;
					    left: 50%;
					    margin-left: -4px;
					    bottom: 0;
					    border-bottom-color: #fff;
					    border-bottom-width: 4px;
					    opacity: 0;
					}
					&.chevron-active {
						.chevron {
							opacity: 1;
							transition: opacity 0.2s;
						}
					}
				}
			}
			.sub-menu-active {
				opacity: 1;
				transition: opacity 0.2s;
			    height: auto;
			}
		}
		.navbar-scroll {
			position: fixed;
			display: none;
			-webkit-animation: fadeOut 0.2s;
			animation: fadeOut 0.2s;
			.nav-link {
				padding: 0.5rem 1rem;
			}
			&.navbar-scroll-left {
				left: 15px;
			}
			&.navbar-scroll-right {
				right: 15px;
			}
		}
	}
	&:hover {
		background-color: #1b1b1b;
		.header-logo {
			.logo-white {
				display: none;
				-webkit-animation: fadeOut 0.2s;
    			animation: fadeOut 0.2s;
			}
			.logo {
				display: inline-block;
				-webkit-animation: fadeIn 0.2s;
    			animation: fadeIn 0.2s;
			}
		}
	}
	&.scroll {
		background-color: #1b1b1b;
		transition: all .2s ease-in-out;
		top: 0;
    	@media (min-width: 992px) {
    		top: -96px;
    	}
    	.navbar-scroll {
    		display: flex;
			-webkit-animation: fadeIn 0.2s;
			animation: fadeIn 0.2s;
    	}
    	.navbar-menu-wrapper {
			.navbar-menu {
				.sub-menu {
			    	top: 69px;
			    }
			}
		}
	}
	&.show {
		background-color: #1b1b1b;
		transition: all .2s ease-in-out;
	}
	.navbar-collapse {
		&.show {
			.navbar-menu {
				padding-bottom: 16px;
			}
		}
	}
}
.body-content {
	.carousel-caption {
		.carousel-title, .carousel-content {
			text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
		}
		@media (max-width: 767px) {
			display: none;
		}
		@media (min-width: 768px) {
			bottom: 15px;
			.carousel-title {
				font-size: 36px;
			}
			.carousel-content {
				font-size: 16px;
			}
		}
		@media (min-width: 992px) {
			bottom: 30px;
			.carousel-title {
				font-size: 60px;
			}
			.carousel-content {
				font-size: 18px;
				display: block;
			}
		}
		@media (min-width: 1200px) {
			bottom: 90px;
			.carousel-title {
				font-size: 72px;
			}
			.carousel-content {
				font-size: 24px;
				display: block;
			}
		}
	}
}

.section-wrapper {
	.section-wrapper-header {
		color: #1b1b1b;
		font-size: 14px;
		padding: 0 15px;
		.divider {
			opacity: 0.5;
		}
		.dropdown {
			font-size: 14px;
			a {
				color: #1b1b1b;
				&:hover, &:focus {

				}
			}
		}
		.text-general {
			color: #999;
		}
		.nav-item {
			.nav-link {
				line-height: 48px;
			}
		}
		.input-group-brand {
			.input-group-label {
				background-color: transparent;
				border: none;
				font-size: 14px;
				color: #999;
			}
			.custom-select {
				font-size: 14px;
				border: none;
				width: auto;
				padding: 0;
				appearance: none;
			}
		}
	}
	.product-list-wrapper {
		position: relative;
		width: 100%;
    	word-spacing: 0;
        font-size: 0;
	    background-color: #e7e7e7;
		article {
		    box-sizing: border-box;
		    padding-left: 15px;
		    padding-right: 15px;
		    position: relative;
		    display: inline-block;
		    vertical-align: top;
		    width: 100%;
		    @media (min-width: 576px) {
		    	width: 50%;
		    }
		    @media (min-width: 768px) {
		    	width: 33.3333333333%;
		    }
		    @media (min-width: 992px) {
		    	width: 33.3333333333%;
		    }
		    @media (min-width: 1200px) {
		    	width: 25%;
		    }
		    padding: 0;
		    height: auto;
		    border-bottom: 1px solid #fff;
		    &:after {
		    	background: #fff;
			    content: "";
			    display: block;
			    height: 100%;
			    position: absolute;
			    top:0;
			    right: 0;
			    width: 1px;
		    }
		    .product-elem {
		    	display: block;
		    	.product-view {
		    		text-align: center;
		    		position: relative;
			    	img {
			    		display: inline-block;
			    		width: 50%;
			    		padding: 64px 32px;
			    		text-align: center;
			    	}
			    	.btn-wish-list {
			    		z-index: 101;
			    		background: none;
			    		background-color: transparent;
			    		border: none;
				    	color: #1b1b1b;
				    	position: absolute;
				    	top: 16px;
				    	right: 16px;
				    	font-size: 16px;
				    	display: block;
				    	&:hover, &:focus {
				    		outline: none;
				    		box-shadow: none;
				    		i {
					    		font-weight: bold;
				    		}
				    	}
				    }
				    .float-status {
				    	font-size: 10px;
				    	padding: 4px 8px;
				    	position: absolute;
				    	left: 16px;
				    	top: 16px;
				    	&.hot {
				    		background: #1b1b1b;
				    		color: #fff;
				    	}
				    }
		    	}
		    	.product-view-detail-wrapper {
		    		position: absolute;
		    		top: 0;
		    		right: 0;
		    		left: 0;
		    		.product-view-detail {
		    			position: relative;
			    		display: none;
						-webkit-animation: fadeOut 0.2s;
	    				animation: fadeOut 0.2s;
			    		text-align: center;
			    		box-shadow: 0 0 5px rgba(0,0,0,.1);
	    				background: #fff;
				    	img {
				    		display: inline-block;
				    		width: 50%;
				    		padding: 64px 32px;
				    		text-align: center;
				    	}
				    	.desc {
				    		padding: 0 24px;
				    		color: #313131;
							font-size: 14px;
				    	}
				    	.price {
				    		font-size: 16px;
				    		font-weight: 600;
				    		color: #4b4b4b;
				    		padding: 16px 0;
				    	}
				    	.btn-wish-list {
				    		z-index: 101;
				    		background: none;
				    		background-color: transparent;
				    		border: none;
					    	color: #1b1b1b;
					    	position: absolute;
					    	top: 16px;
					    	right: 16px;
					    	font-size: 16px;
					    	display: block;
					    	&:hover, &:focus {
					    		outline: none;
					    		box-shadow: none;
					    		i {
						    		font-weight: bold;
					    		}
					    	}
					    }
					    .float-status {
					    	font-size: 10px;
					    	padding: 4px 8px;
					    	position: absolute;
					    	left: 16px;
					    	top: 16px;
					    	&.hot {
					    		background: #1b1b1b;
					    		color: #fff;
					    	}
					    }
			    	}
			    	&.active {
			    		.product-view-detail {
			    			display: block;
							-webkit-animation: fadeIn 0.2s;
							animation: fadeIn 0.2s;
							z-index: 200;
			    		}
			    	}
		    	}
		    }
		}
	}
	.lcd-price-list-wrapper {
		.table-lcd {
			@media (max-width: 575px) {
				font-size: 12px;
				tr {
					td, th {
						padding: 12px !important;
						vertical-align: middle;
					}
				}
			}
		}
		table {
			margin-bottom: 32px;
		}
		.table-striped tbody tr:nth-of-type(odd) {
			background-color: #e7e7e7;
		}
		.table-price-list-wrapper {
			thead {
				tr {
					th {
						padding: 16px;
						background-color: #C1B497; //#a48c5b
						color: #ffffff;
						font-weight: normal;
					}
				}
			}
			tbody {
				tr {
					td {
						padding: 16px;
						&.price {
							color: #4b4b4b;
							font-weight: bold;
						}
					}
				}
			}
		}
	}
}
footer {
	padding: 0 0 32px 0;
	background: #1b1b1b;
    color: #fff;
    position: relative;
    font-size: 14px;
    .top-footer {
    	background-color: rgba(255, 255, 255, 0.08);
    	margin: 0 -15px;
    	margin-bottom: 32px;
    }
    .feature-icon {
    	i {
    		font-size: 2.5rem;
    	}
    }
    .feature {
    	font-size: 16px;
    	font-weight: 600;
    }
    .feature-wrapper {
    	padding: 32px 0px;
    }
    .dropdown {
    	button {
    		font-size: 14px;
    	}
    }
    .widget {
    	ul {
    		list-style: none;
    		padding: 0;
    		margin: 0;
    		li {
    			a {
    				transition: all .2s ease-in-out;
    				color: #999;
    				&:hover, &:focus {
    					text-decoration: none;
    					transition: all .2s ease-in-out;
    					color: #fff;
    				}
    			}
    		}
    	}
    }
    .social-btn.sb-light {
	    background-color: rgba(255,255,255,0.08);
	    color: #fff;
	    &:hover {
	    	background-color: #fff !important;
    		box-shadow: none !important;
	    }
	}
	.social-btn {
	    display: inline-block;
	    width: 2.25rem;
	    height: 2.25rem;
	    padding: 0;
	    border: 1px solid transparent;
	    transition: border-color 0.2s ease-in-out,background-color 0.2s ease-in-out,color 0.2s ease-in-out,box-shadow 0.2s ease-in-out;
	    border-radius: .3125rem;
	    background-color: #f3f5f9;
	    color: #4b566b;
	    font-size: .875rem;
	    text-align: center;
	    text-decoration: none !important;
	    i {
	    	line-height: 2.125rem;
	    }
	}
	.sb-twitter {
		&:hover {
			&.sb-light {
				color: #1da1f2;
			}
		}
	}
	.sb-facebook {
		&:hover {
			&.sb-light {
				color: #3b5998;
			}
		}
	}
	.sb-instagram {
		&:hover {
			&.sb-light {
				color: #5851db;
			}
		}
	}
	.sb-pinterest {
		&:hover {
			&.sb-light {
				color: #bd081c;
			}
		}
	}
	.sb-youtube {
		&:hover {
			&.sb-light {
				color: #ff0000;
			}
		}
	}
}
.btn-request-wrapper {
	z-index: 300;
	position: fixed;
	bottom: 16px;
    right: 16px;
}
@mixin rings($duration, $delay) {
    opacity: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0;
    bottom: 0;
    content: '';
    height: 100%;
    width: 100%;
    border: 8px solid rgba(0,0,0,0.2);
    border-radius: 100%;
    animation-name: ripple;
    animation-duration: $duration;
    animation-delay: $delay;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(.65,0,.34,1);
    z-index: -1;
}
.btn-request {
    position: relative;
    display: flex;
    flex-direction: row;
	justify-content: center;
	align-items: center;
	height: 60px;
	width: 60px;
	border-radius: 100%;
	background-color: #C1B497;
	color: #fff;
	box-shadow: 0 0 20px 0 rgba(0,0,0,0.25);
	&:after {
	    @include rings(2s, 0s);
	}
  	&:before {
    	@include rings(2s, 0.4s);
  	}
  	&:hover, &:focus {
  		color: #fff;
  		background-color: #313131;
  	}
}
@keyframes ripple {
	from {
	    opacity: 1;
	    transform: scale3d(0.75,0.75,1);
	}
	to {
	    opacity: 0;
	    transform: scale3d(1.5,1.5,1);
	}
}
.reserved {
	font-size: 12px;
	margin-top: 16px;
	color: #C1B497;
	a {
		color: #C1B497;
		&:hover, &:focus {
			text-decoration: none;
		}
	}
}
.nav-link-language {
	@media (max-width: 991px) {
		padding-left: 0;
	}
}
.ul-sub-menu {
	list-style: none;
	li {
		a {
			display: inline-block;
			padding: 0.5rem 0;
			font-size: 16px;
			color: #646060;
			transition: all .2s ease-in-out;
			&:hover, &:focus {
				text-decoration: none;
				color: #313131;
				transition: all .2s ease-in-out;
			}
		}
	}
}
.sub-menu-mobile {
    background: #fff;
	position: absolute;
	display: none;
	z-index: 9999;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	-webkit-overflow-scrolling: touch;
    overflow: scroll;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 0 0;
	@media (min-width: 992px) {
		display: none !important;
	}
}
.dropdown-menu-brand {
	a {
		&:active {
			background-color: #1b1b1b;
			color: #e5dfd9 !important;
		}
	}
}
#table-samsung {
	display: none;
}

.dropdown-toggle {
	&:after {
	    display: inline-block;
	    vertical-align: middle;
	    content: "";
	    border-top: 4px solid;
	    border-right: 4px solid transparent;
	    border-bottom: 0;
	    border-left: 4px solid transparent;
	    margin-left: 4px;
	}
}